player-connection-mode=Listen
player-connection-guid=2972261808
player-connection-debug=1
player-connection-project-name=Lukcze Prototype xD
player-connection-wait-timeout=-1
player-connection-ip=192.168.42.114
gfx-enable-gfx-jobs=
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
wait-for-managed-debugger=0
vr-enabled=0
hdr-display-enabled=0
gc-max-time-slice=3
single-instance=
nolog=
